.markdown {
  background-color: var(--background);
  color: var(--foreground);
  li {
    list-style-type: square;
    word-break: break-word;
  }
}

.markdown pre,
.markdown code,
.markdown blockquote {
  background-color: var(--background);
  color: var(--foreground);
}
